<div class="navbar navbar-expand-sm navbar-light navbar-tree">
  <%= link_to root_path, class: "navbar-brand a:hover" do %>
    <%= image_tag "treehouse_1.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item link-font active">
        <%= link_to "Book a Treehouse", trees_path, class: "nav-link" %>
      </li>
      <li class="nav-item link-font">
        <%= link_to "List a Treehouse", trees_path, class: "nav-link" %>
      </li>
      <li class="nav-item link-font">
        <%= link_to 'My Bookings', bookings_path, class: "nav-link" %>
      </li>
      <li>
        <img class="avatar" link_to bookings_path, alt="avatar" src="https://kitt.lewagon.com/placeholder/users/SimDhali">
      </li>
    </ul>
  </div>
</div>
