  <div class="main-container">
    <% @trees.each do |tree| %>
      <div class="card" style=" background-image: url('<%= cl_image_path(tree.photo.key) %>'); background-position: center; background-size: cover;">
        <div class="card-pic">
        </div>
        <div class="card-content">
          <h1><%= tree.name  %></h1>
          <p>Number of Guests: <%= tree.number_of_guests %></p>
          <p>Price: <%= tree.price %></p>
          <p>Rating: <%= tree.rating %></p>
          <p class="btn-red"> Book Tree <p>
        </div>
      </div>
    <% end %>
  </div>



  <%# <div class = "grid-cards">
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-danger">I love this tree</a>
      </div>
    </div>
  </div> %>
