  <div class="container">
    <% @trees.each do |tree| %>
      <div class="card">
        <div class="card-pic">
          <% if tree.photo.attached? %>
          <%= cl_image_tag(tree.photo.key) %>
        </div>
        <% end %>
        <div class="card-content">
          <p><%= tree.name  %></p>
          <p><%= tree.description %></p>
          <p>Number of Guests: <%= tree.number_of_guests %></p>
          <p>Price: <%= tree.price %></p>
          <p>Rating: <%= tree.rating %></p>
        </div>
      </div>
    <% end %>
  </div>



  <%# <div class = "grid-cards">
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-danger">I love this tree</a>
      </div>
    </div>
  </div> %>
