<br>
<br>
<br>
<br>
<div class="card-show">
<h1><%= @tree.name %></h1>
<ul>
<% if @tree.photo.attached? %>
  <%= cl_image_tag(@tree.photo.key, width: 400, height: 300, crop: :fill) %>
   <% end %>
<li>🏡 <%= @tree.address %></li>
<li>💰 £ <%= @tree.price %></li>
<li>📖 <%= @tree.description %></li>
<li> 👩🏻‍🤝‍👨🏼 <%= @tree.number_of_guests %></li>
</ul>
  </div>
